<!doctype html>
<html>
<head>
	<title>Task manager</title>
	<!--<script type="text/javascript" src='js/jquery-2.1.1.min.js'></script>
	<script type="text/javascript" src='js/jquery-ui-1.10.4.custom.min.js'></script>
	<script type="text/javascript" src='js/jquery.easing.min.js'></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.1/angular.min.js"></script>

  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="task-manager.js"></script>

	<link rel='stylesheet' href='bootstrap/css/bootstrap.min.css'>
	<link rel='stylesheet' href='style.css'>
</head>
<body ng-app='taskManager'>
<h2>Список дел</h2>
<div ng-controller='TaskCtrl'>
	<form ng-submit="addTask()" >
		<input type='text' ng-model='newtask' size='30' placeholder='write new task'>
		<input class='btn-primary' type='submit' value='add'>
	</form>
	<div class='column' ng-repeat='(key_col, col) in cols' colnum={{key_col}} ng-init='changing=false;' droppable>
		<h3 ng-dblclick='changing=true;' ng-show='!changing'>{{col.name}}</h3>

		<form ng-show='changing' class='column__name' ng-submit="changing=false; col.name=colName">
			<input type='text' ng-model='colName' size='20' ng-init="colName=col.name">
			<input type='submit' value='change'>
		</form>

		<div class='task' ng-repeat='(key_task, task) in col.tasks' ng-init='task_changing=false;' draggable>
			<div class='task_interface' colnum={{key_col}} tasknum={{key_task}} ng-show='!task_changing' >

				<div class='task__text'>{{task.text}}</div>
				<span class='glyphicon glyphicon-cog' ng-click='task_changing=true;'></span>
			</div>

			<form class='task_edit' ng-show='task_changing' ng-submit='changeTask(key_col, key_task, taskText, taskCol.id); task_changing=false; task.text = taskText; '>
				<input type='text' class='task_edit__text' ng-model='taskText' ng-init='taskText=task.text'>
				<select ng-model='taskCol' ng-options="col.name for col in cols" >
					<option value=''>Choose column</option>
				</select>
				<br>
				<input type='submit' value='change'>
			</form>
		</div>
		
	</div>
	
</div>
</body>
</html>